body {
  width: 100vw;
  background-image: linear-gradient(45deg, rgb(4, 171, 255), rgb(255, 255, 255));
  box-sizing: border-box;
  text-decoration: none;
}

/*--principio nav--*/
nav {
  background-color: rgb(101, 227, 244);
  height: 80px;
  width: 100%;
}
nav .enlace {
  position: absolute;
  padding: 20px 50px;
}
nav .logo {
  height: 40px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0px 5px;
}
nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a a.active, nav ul li a li:hover {
  background: #02c8ff;
  transition: 1s;
}
nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
nav #check {
  display: none;
}

/*--final nav--*/
/*--CENTRO SOMOS--*/
.centro {
  text-align: center;
  width: 100%;
}
.centro .formularios {
  background-color: white;
  position: relative;
  margin: 10% auto;
  width: 50%;
  height: 55%;
}
.centro .formularios h2 {
  margin: 15px 0;
  padding-top: 30px;
}
.centro .formularios form input {
  width: 60%;
  margin-top: 10px;
  height: 30px;
}
.centro .formularios form textarea {
  width: 60%;
  height: 100px;
  margin-top: 10px;
}
.centro .glow::before, .centro glow::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(45deg, #02c8ff, blue, #02c8ff, blue);
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  animation: AnimTest 20s linear infinite;
}
@keyframes AnimTest {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.centro .glow::after {
  filter: blur(20px);
}

/*--CENTRO SOMOS--*/
/**--FOTER--*/
.pie-pagina {
  width: 100%;
  background-color: rgb(101, 227, 244);
  margin-top: 30px;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 20px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.pie-pagina .grupo-1 .box img {
  width: 80px;
  height: 80px;
}
.pie-pagina .grupo-1 .box h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #02c8ff;
  text-align: center;
  align-items: center;
  transition: all 300ms ease;
  text-decoration: none;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  color: black;
  padding: 15px 10px;
  text-align: center;
  background-color: #0245ff;
  font-size: 20px;
  height: 45px;
}

/**--FOTER--*/
/**--CENTRO INICIO--*/
.grid-layout {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto;
  row-gap: 25px;
  background-image: linear-gradient(45deg, rgb(4, 171, 255), rgb(255, 255, 255));
}
.grid-layout .c3 {
  grid-column: 1/3;
}
.grid-layout .c3 img {
  width: 100%;
  height: 100%;
  margin: 5px;
  margin-top: -10px;
}
.grid-layout .descripcion {
  grid-column: 3/5;
  text-align: center;
  align-items: center;
  padding: 80px 20px 0px 20px;
}
.grid-layout .descripcion .folleto {
  margin-top: 50px;
}
.grid-layout .descripcion .link1 {
  border: 2px solid black;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding: 6px;
  background-color: white;
}
.grid-layout .descripcion .link1:hover {
  color: black;
  background-color: white;
  font-size: 24px;
}
.grid-layout .otrosvehiculos {
  grid-column: 1/5;
  text-align: center;
}
.grid-layout .c4 {
  grid-column: 1/3;
  text-align: center;
}
.grid-layout .c4 a {
  height: 10%;
  width: 100%;
}
.grid-layout .c4 img {
  width: 100%;
  height: 100%;
}
.grid-layout .berlingo {
  grid-column: 3/5;
  text-align: center;
}
.grid-layout .berlingo img {
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

/**--CENTRO INICIO--*/
/*--RESPONSIVE--*/
@media only screen and (max-width: 990px) {
  nav .enlace {
    padding-left: 20px;
  }
  nav .checkbtn {
    display: block;
    margin-top: 20px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(101, 227, 244);
    top: 80px;
    left: -100%;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
  nav li a:hover, nav li a.active {
    background: none;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
  .grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.3fr;
    grid-template-areas: "c3" "descripcion" "otrosvehiculos" "c4" "berlingo";
  }
  .grid-layout .descripcion {
    margin-top: 450px;
  }
  .grid-layout .c3 img {
    width: 100vw;
    height: 300px;
  }
  .grid-layout .c4 img {
    width: 100vw;
    height: 500px;
    margin-top: 10px;
    border: none;
  }
  .grid-layout .berlingo {
    margin-top: 600px;
  }
  .grid-layout .berlingo img {
    width: 100vw;
    height: 500px;
    margin-top: 10px;
    border: none;
  }
  .formularios {
    width: 80%;
    height: 90%;
    margin-left: 13%;
    padding-bottom: 40px;
  }
}
/*--RESPONSIVE--*/
/*--FRECUENTES--*/
.pregunta {
  width: 70%;
  text-align: center;
  align-items: center;
  margin-left: 15%;
  margin-top: 25px;
  font-size: 16px;
}

/*--FRECUENTES--*/
.subtitulos-vehiculos {
  width: 100vw;
}
.subtitulos-vehiculos h1 {
  text-align: center;
}
.subtitulos-vehiculos p {
  text-align: center;
}

.carrousel {
  width: 90%;
}

.conteCarrousel {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.itemCarrousel {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.itemCarrouselTarjeta {
  width: 100%;
  height: 100%;
  text-align: center;
}

.itemCarrouselArrows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.itemCarrouselArrows img {
  height: 100%;
  width: 100%;
}

.itemCarrouselArrows > i:hover {
  cursor: pointer;
}

.conteCarrouselController {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.conteCarrouselController > a {
  text-decoration: none;
  font-size: 2em;
  color: grey;
}

.itemCarrouselArrows > a > i {
  color: white;
}

/*# sourceMappingURL=nuevo.css.map */
