body{
    width: 100%;
    background-image: linear-gradient(45deg, rgb(4, 171, 255), rgb(255, 255, 255));
}
/*--principio nav--*/
nav{
    background-color: rgb(101, 227, 244);
    height: 80px;
    width: 100%;

}
nav .enlace{
    position: absolute;
    padding: 20px 50px;
}
nav .logo{
    height: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 25px 0px 0px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
}
li a.active, li:hover{
    background: #02c8ff;
    transition: .5s;
}
/*--final nav--*/

/*--CENTRO SOMOS--*/
.centro{
    text-align: center;
    width: 100%;
}

.formularios h2{
    margin: 15px 0;
    padding-top: 30px;
}
.formularios form input{
    width: 60%;
    margin-top: 10px;
    height: 30px;
}
.formularios form textarea{
    width: 60%;
    height: 100px;
    margin-top: 10px;
}

.formularios{
    background-color: rgba(255, 255, 255, 0.968);
    position: relative;
    margin: 10% auto;
    width: 50%;
    height: 50%;
}

.glow::before , glow::after{
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    background: linear-gradient(45deg, #02c8ff, blue, #02c8ff, blue);
    background-size: 400%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    animation:  AnimTest 20s linear infinite;
}
@keyframes AnimTest{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.glow::after{
    filter:blur(20px)
}

/*--CENTRO SOMOS--*/

/**--FOTER--*/
.pie-pagina{
    width: 100%;
    background-color: rgb(101, 227, 244);
    margin-top: 30px;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.pie-pagina .grupo-1 .box img{
    width: 80px;
    height: 80px;
}
.pie-pagina .grupo-1 .box h2{
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #02c8ff;
    text-align: center;
    align-items: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    color: black;
    padding: 15px 10px;
    text-align: center;
    background-color: #0245ff;
    font-size: 20px;
}

/**--FOTER--*/


/**--CENTRO INICIO--*/
.grid-layout{
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows: auto auto auto;
    row-gap: 25px;
    background-image: linear-gradient(45deg, rgb(4, 171, 255), rgb(255, 255, 255));
}
.c3{
    background-color: blue;
    grid-column: 1 / 3;
}
.c3 img{
    width: 100%;
    height: 100%;

}

.descripcion{
    grid-column: 3 / 5;
    text-align: center;
    align-items: center;
    padding-top: 80px;

}
.descripcion .folleto{
    margin-top: 50px;
}
.link1{
    border: 2px solid black;
    font-weight: 600;
    color: white;
    padding: 6px;
    background-color: rgb(255, 5, 5);
}


.otrosvehiculos{
    grid-column: 1 / 5;
    text-align: center;
}

.c4{

    grid-column: 1 / 3;
    text-align: center;
}
.c4 a{
    height: 10%;
    width: 100%;
}
.c4 img{
    width: 100%;
    height: 100%;
    border-right: 2px solid black;
}

.berlingo{

    grid-column: 3 / 5;
    text-align: center;
}
.berlingo img{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-left: 2px solid black;
}

/**--CENTRO INICIO--*/

/*--RESPONSIVE--*/
@media only screen and (max-width: 580px){

    .grid-layout{
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 0.3fr;
        grid-template-areas: 'c3' 
                             'descripcion'
                             'otrosvehiculos' 
                             'c4'
                             'berlingo';
        
    }
    .descripcion{
        margin-top: 350px;
    }
    .c3 img{
        width: 100vw;
        height: 300px;
       
    }
 
    .c4 img{
        width: 100vw;
        height: 300px;
        margin-top: 10px;
        border:none;
    }
    .berlingo{
        margin-top: 500px;
    }
    
    .berlingo img{
        width: 100vw;
        height: 220px;
        margin-top: 10px;
        border:none;
    }
}

/*--RESPONSIVE--*/